flashrag
torch
transformers>=4.40.0
openai
datasets
pandas
numpy
json5
jsonlines
nltk
jieba
langid
spacy
regex
faiss-cpu
FlagEmbedding
rank_bm25
bm25s[core]==0.2.0
rouge
rouge-chinese
evaluate
tiktoken
peft
sentencepiece
fschat
protobuf
PyYAML
tqdm
deepspeed
base58
matplotlib
seaborn
scipy
scikit-learn
pyarrow
streamlit
gradio>=5.0.0
chonkie>=1.0.2, <1.1.0
